*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.section1{
    display: flex;
    background-color:#f0e8e8 ;
    width: 100%;
    /* margin: 0 auto; */
}
 .section1_box1{
 padding: 50px;
 background-color: white;
 margin: 50px;
 border-radius: 5px;
}
.section1_box2{
 padding: 50px;
 background-color: white;
 margin: 50px;
 border-radius: 5px;
}   
.Star{
    font-size: 50px;
    color: orange;
    display: flex;
    gap: 5px;
} 
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.section1_box1 h2,
.section1_box2 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.section1_box1 h3,
.section1_box2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(153, 151, 151);
    margin-top: 10px;
}