*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#f0e8e8 ;
    width: 90%;
    margin: 0 auto; 
    margin-bottom: 100px;
}
 .section1_box1{
 padding: 50px;
 background-color: white;
 margin: 50px;
 border-radius: 5px;
}
.section1_box2{
 padding: 50px;
 background-color: white;
 margin: 50px;
 border-radius: 5px;
}   
.Star{
    font-size: 50px;
    color: orange;
    display: flex;
    gap: 5px;
} 
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.section1_box1 h2,
.section1_box2 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.section1_box1 h3,
.section1_box2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(153, 151, 151);
    margin-top: 10px;
}
@media (max-width: 1024px) {
  .section1 {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}
.section2{
    display: grid;
     grid-template-columns:  repeat(2, 1fr); 
    width: 80%;
   gap: 50px;
   margin: 0 auto;
   margin-top: 40px;
   
}
.img{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 600px) {
  .section2 {
    grid-template-columns:repeat(1,1fr);
  }
}
.section3{ 
    width: 100%;
     justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 400px;
     background-color: #f0e8e8;
}
.section3_box{
 padding: 30px;
   text-align: center;
}
.section3 h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.section3 p{
    font-size: 18px;
    margin-bottom: 10px;
}
.section3 button{
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    background-color: rgb(41, 72, 75);
    border: none;
    border-radius: 5px;
}
.section3 button:hover{
    background-color: orange;
}